@page "/weather"
@attribute [StreamRendering]

<PageTitle>Weather</PageTitle>


@* TAILWIND *@

<div class="flex flex-col border rounded w-72 overflow-hidden">
  <img src="..." class="h-40 bg-slate-500" alt="...">
  <div class="p-4 text-gray-800">
    <p class="text-base">Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
  </div>
</div>

